include ../components/nav/tmpbar
include ../components/nav/footer
include ../components/nav/sitesearch
include ../components/nav/menu

block vars
  - let pageTitle = [];
  - let pagePath = '/';

doctype html
html(lang='nl')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    
    title #{pageTitle.join(' ')} - #{htmlWebpackPlugin.options.title}
    meta(http-equiv='cleartype', content='on')
    meta(name='author', content='Eight Media')
    meta(name='format-detection', content='telephone=no')

    script(src=htmlWebpackPlugin.files.chunks.head.entry)

    //- preload fonts
    link(rel='preload', href='/fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2', as="font", type="font/woff2", crossorigin="anonymous")
    link(rel='preload', href='/fonts/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2', as="font", type="font/woff2", crossorigin="anonymous")
    link(rel='preload', href='/fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2', as="font", type="font/woff2", crossorigin="anonymous")

    each css in htmlWebpackPlugin.files.chunks.theme.css
      link(rel='stylesheet', href=css)
    
    each css in htmlWebpackPlugin.files.chunks.print.css
      link(rel='stylesheet', href=css, media='print')
    
    //- preload js
    link(rel='preload', href=htmlWebpackPlugin.files.chunks.libs.entry, as='script')
    link(rel='preload', href=htmlWebpackPlugin.files.chunks.app.entry, as='script')

  body

    include ../icons/_symbols

    block skiplinks
      .skiplinks
        a(href='#content') Direct naar de inhoud
        a(href='javascript:void(null)', class='js-menu-show') Direct naar de hoofdnavigatie
        a(href='javascript:void(null)', class='js-sitesearch-show') Direct naar de zoekfunctie

    block nav
      .nav-spacer(class='js-nav-spacer')
      .nav(class='js-nav')
        +tmpbar
        block subnav
    

    .main(role='main', id='content')
      block main


    block footer
      +footer

    block takeover

    block scripts
      script(src=htmlWebpackPlugin.files.chunks.libs.entry)
      script(src=htmlWebpackPlugin.files.chunks.app.entry)
      script(src=htmlWebpackPlugin.files.chunks.theme.entry)
      script(src=htmlWebpackPlugin.files.chunks.print.entry)
