//- @pugdoc
  name: shout for action picture
  capture: 0
mixin shout-for-action-image(image)
  picture.shout__for__action__picture
    - var sizes = []
    - sizes.push({ minWidth: 1200, width: 560, ratio: 1 });
    - sizes.push({ minWidth: 1024, width: 430, ratio: 1 });
    - sizes.push({ minWidth: 768, width: 310, ratio: 2 });
    - sizes.push({ minWidth: 500, width: 310, ratio: 2 });
    - sizes.push({ minWidth: 1, width: 500, ratio: 2 });
    +srcset(image, sizes)

    img(src='', alt='')

//- @pugdoc
  name: shout-for-action
  description: Sectie en sta content
  examples:
    - |
      include ./shout-for-action

      style.
        body > div {
          padding: 0 !important;
        }
      
      - var options = {};
      - options.image = 'koraal.jpg';
      - options.eyebrow = 'vrijstellingen';
      - options.title = 'Al de nodige ervaring in huis?';
      - options.intro = 'Met aantoonbare kennis en kunde kom je in aanmerking voor vrijstellingen. Zo kun je je opleiding verkorten.';
      - options.buttons = [];
      - options.buttons.push({ href: '/', label: 'Plan een afspraken in', type: 'primary' });
      - options.buttons.push({ href: '/', label: 'Bekijk de praktisch info', type: 'secondary' });
      
      +section-shout(ALIGNMENT_RIGHT, options)
   
mixin section-shout(alignment, options)
  include ./section
  include ./intro
  include ../atoms/richtext
  include ../../utils/srcset
  include ../atoms/btn-primary
  include ../atoms/btn-secondary

  - var cls = [];
  - cls.push('section--shout')

  if alignment === ALIGNMENT_RIGHT
    - cls.push('section--shout-right');

  if alignment === ALIGNMENT_LEFT
    -cls.push('section--shout-left');
    
  .section(class=cls)
    .section-wrapper
      .section__content
        .shout
          .shout-wrapper
            .shout__picture
              +shout-for-action-image(options.image)
            .shout__text
              if options.title || options.intro
                .section__header
                  if options.title
                    h2.section__header__title
                      if options.eyebrow
                        span.section__header__title__eyebrow #{options.eyebrow}
                        span.accessibility :&nbsp;
                      span.section__header__title__text #{options.title}
              
                  if options.intro
                    p.section__header__intro !{options.intro}
                  if options.buttons
                    .shout__for__action__text__buttons
                      each button in options.buttons
                        .shout__for__action__buttons__button
                          if button.type === 'primary'
                            +btn-primary(button.label, button.href, "arrow")

                          else if button.type === 'secondary'
                            +btn-secondary(button.label, button.href, "")


  //- .shout(class=cls)
  //-   .shout_wrapper
  //-     .shout_picture
  //-       +shout-for-action-image(options.image)
  //-     .shout_text_wrapper
  //-       +section(eyebrow, title)
  //-         if intro
  //-           +intro #{intro}
  //-         block
  //-         if options.buttons
  //-           .shout__for__action__text__buttons
  //-             each button in options.buttons
  //-               .shout__for__action__buttons__button
  //-                 if button.type === 'primary'
  //-                   +btn-primary(button.label, button.href, "arrow")

  //-                 else if button.type === 'secondary'
  //-                   +btn-secondary(button.label, button.href, "")