//- @pugdoc
  name: Menu-items
  capture: 0

mixin menu-items(items)
  include ../atoms/richtext
  include ../../icons/_icon
  include ../../utils/slugify


  each item in items
    li.section--submenu-course__menu__item
      .section--submenu-course__menu__item__submenu__title(class=""+item.active) !{item.title}
        +icon#arrow
        ul.section--submenu-course__menu__item__submenu__list
        each listitem in item.submenu
          li.section--submenu-course__menu__item__submenu__list__item !{listitem.linktitle}
      | !{item.submenu}


      //- each item in items
      //-   li.collapsibles__item(class='js-collapsible')
      //-     .collapsible
      //-       h3.collapsible__title
      //-           | #{item.title}
      //-           //- +icon#chevron

      //-           +richtext
      //-             | !{item.body}


//- @pugdoc
  name: Submenu-course
  description: |
    Submenu voor opleidingen. Bevat de titels van de pagina's die bij de opleiding horen. Navigatie uitklapper met (anchor) links op de betreffende pagina.
  examples:
    - |
      include ./submenu-course

      - items = [];
      - items.push({title: 'Overzicht', active: 'active', submenu: '<ul class="section--submenu-course__menu__item__submenu__list"><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Elektro in het kort</a></li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Studenten aan het woord</a></li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Projecten en nieuws</a></li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">De locatie</a></li></ul>'})
      - items.push({title: 'Kennismaken', submenu: '<ul class="section--submenu-course__menu__item__submenu__list"><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Kom de HAN ontdekken</a></li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Studeren in Arnhem</a></li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Doorstuderen</a></li></ul>'})
      - items.push({title: 'Je studie', submenu: '<ul class="section--submenu-course__menu__item__submenu__list"><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Jaar 1</a><br/>Je propedeuse jaar</li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Jaar 2</a><br/>Je verdiepende jaar</li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Jaar 3</a><br/>Stage en minor</li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Jaar 4</a><br/>Afstuderen</li><li class="section--submenu-course__menu__item__submenu__list__item">Doorstuderen</li></ul>'})
      - items.push({title: 'Jouw toekomst', submenu: '<ul class="section--submenu-course__menu__item__submenu__list"><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Beroepen en bedrijven</a></li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Professionals over het vak</a></li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Doorstuderen</a></li></ul>'})
      - items.push({title: 'Praktische informatie', submenu: '<ul class="section--submenu-course__menu__item__submenu__list"><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">De toelatingseisen</a></li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Aanmeldprocedure</a></li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Studeren met een beperking</a></li><li class="section--submenu-course__menu__item__submenu__list__item"><a href="#">Opleidingskosten</a></li></ul>'})
      //- +submenu-collapsibles('Bloedglucoseregulatie door middel van insulinepomptherapie en continue glucosemetingen', items)
      +submenu-collapsibles('Elektrotechniek', items)

mixin submenu-collapsibles(title, items)
  include ../atoms/richtext
  include ../../icons/_icon
  include ../../utils/slugify
  include ./section

  +section(null, null)(class="section--menu" id='testmenu')
    p This is a filler for a main menu
  +section(null, null)(class='section--submenu-course' id='submenu-course')
    ol.collapsibles(class='js-collapsibles')
      li.collapsibles__item(class='js-collapsible')
        .collapsible
          h3.collapsible__title
            button.collapsible__title__button.top.show(type='button', aria-expanded='true', class='js-collapsible__button', aria-controls=slugify(title))
              | #{title}
              +icon#chevron

          .collapsible__content(id=slugify(title), class='js-collapsible__content')
            +richtext
              ul.section--submenu-course__menu
                each item in items
                  li.section--submenu-course__menu__item
                    .section--submenu-course__menu__item__submenu__title(class=""+item.active) !{item.title}
                      +icon#arrow
                    | !{item.submenu}
          h3.collapsible__title.bottom
            button.collapsible__title__button.bottom(type='button', aria-expanded='true', class='js-collapsible__button', aria-controls=slugify(title))
              | #{title}
              +icon#chevron
  +richtext
    h1 this is testthis is test this is test this is testthis is testthis is testthis is testthis is testthis is testthis is testthis is testthis is testthis is testthis is test
    p ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas finibus pretium. Proin pharetra, massa sed lobortis aliquet, dui magna faucibus augue, id suscipit neque augue vitae leo. Etiam in nisl ac purus tempus eleifend. Aliquam pulvinar est eget erat rhoncus lobortis. Curabitur turpis tellus, ornare ut tempus ac, porttitor a ipsum. Curabitur eleifend, velit ac consectetur consequat, sem felis commodo ex, at rutrum velit tellus quis erat. Suspendisse augue mi, sagittis mollis ultrices vel, fermentum at metus. Nunc molestie dolor id viverra egestas. Maecenas nec volutpat ipsum. Quisque sagittis vestibulum quam, ac posuere sapien placerat sit amet.

    p nec egestas eros. Fusce rutrum rhoncus nisi, consequat auctor elit tristique quis. Aliquam ultricies nisi non ipsum fringilla mattis. Fusce ac tellus cursus, faucibus diam a, dictum nulla. Sed eleifend eleifend erat et convallis. Phasellus rutrum sollicitudin justo, at vulputate mi hendrerit id. In id elit eu urna rhoncus viverra. Proin et orci commodo, feugiat mi id, cursus velit. In id vehicula quam.

    p accumsan metus velit, non malesuada tellus commodo quis. Phasellus ullamcorper nulla eget urna efficitur cursus. Praesent posuere orci libero, eget mattis diam dictum eget. Suspendisse eu varius est, eget pharetra est. Mauris nec nisi id justo commodo tincidunt sed in est. Sed hendrerit dapibus enim a dignissim. Suspendisse hendrerit dui nec odio congue, vitae tempus magna suscipit. Ut a neque sit amet odio placerat vulputate. Vestibulum nec orci fringilla, hendrerit ex sed, dapibus nunc. Sed fringilla molestie ex eget luctus.

    p non tellus a dolor sollicitudin facilisis at consequat metus. Nam purus tellus, condimentum consectetur libero vitae, commodo laoreet nulla. Sed vel viverra nisi, ac luctus lectus. Proin tincidunt erat et sodales ultrices. Proin accumsan, orci et tristique laoreet, tortor nunc consectetur enim, quis lacinia enim ante at mauris. Maecenas sem lorem, interdum at blandit ut, porttitor vitae ipsum. Morbi placerat felis justo, eu gravida nulla sagittis et. Sed purus nunc, sollicitudin eu vulputate nec, eleifend at elit. Cras feugiat et purus nec tincidunt. Duis non vulputate velit. Phasellus volutpat diam dui, eget vehicula mauris porta at. Duis suscipit lacinia fermentum.
