//- @pugdoc
  name: Menu-items
  capture: 0

mixin menu-items(items)
  include ../atoms/richtext
  include ../../icons/_icon
  include ../../utils/slugify



      each item in items
        li.collapsibles__item(class='js-collapsible')
          .collapsible
            h3.collapsible__title
                | #{item.title}
                //- +icon#chevron

                +richtext
                  | !{item.body}


//- @pugdoc
  name: Submenu-course
  description: |
    Sectie met uitklappers. Bevat een titel en een lijst van één of meerdere uitklapbare titel/richtext paren. Iedere uitklapper kan vooraf `status: open` worden krijgen door op de button aria-expanded="true" te zetten.
  examples:
    - |
      include ./submenu-course

      - items = [];
      - items.push({title: 'Ontdekken', submenu: '<ul><li><a href="#">Elektro in het kort</a></li><li><a href="#">Studenten aan het woord</a></li><li><a href="#">Projecten en nieuws</a></li><li><a href="#">De locatie</a></li></ul>'})
      - items.push({title: 'Jouw toekomst', submenu: '<ul><li><a href="#">Beroepen en bedrijven</a></li><li><a href="#">Professionals over het vak</a></li><li><a href="#">Doorstuderen</a></li></ul>'})
      - items.push({title: 'De studieopbouw', submenu: '<ul><li><a href="#">Jaar 1</a><br/>Je propedeuse jaar</li><li><a href="#">Jaar 2</a><br/>Je verdiepende jaar</li><li><a href="#">Jaar 3</a><br/>Stage en minor</li><li><a href="#">Jaar 4</a><br/>Afstuderen</li><li>Doorstuderen</li></ul>'})
      - items.push({title: 'Maak kennis', submenu: '<ul><li><a href="#">Kom de HAN ontdekken</a></li><li><a href="#">Studeren in Arnhem</a></li><li><a href="#">Doorstuderen</a></li></ul>'})
      - items.push({title: 'Praktische info', submenu: '<ul><li><a href="#">De toelatingseisen</a></li><li><a href="#">Aanmeldprocedure</a></li><li><a href="#">Studeren met een beperking</a></li><li><a href="#">Opleidingskosten</a></li></ul>'})
      +submenu-collapsibles('Elektrotechniek is een heule leuke studie hoor toevallig', items)

mixin submenu-collapsibles(title, items)
  include ../atoms/richtext
  include ../../icons/_icon
  include ../../utils/slugify
  include ./section

  +section(null, null)(class='section--submenu-course')
    ol.collapsibles(class='js-collapsibles')
      li.collapsibles__item(class='js-collapsible')
        .collapsible
          h3.collapsible__title
            button.collapsible__title__button.top.show(type='button', aria-expanded='true', class='js-collapsible__button', aria-controls=slugify(title))
              | #{title}
              +icon#chevron

          .collapsible__content(id=slugify(title), class='js-collapsible__content')
            +richtext
              h3.title__lg-screen #{title}
              ul
                each item in items
                  li
                    .submenu__title !{item.title}
                      +icon#arrow
                    | !{item.submenu}
          h3.collapsible__title
            button.collapsible__title__button.bottom(type='button', aria-expanded='true', class='js-collapsible__button', aria-controls=slugify(title))
              | #{title}
              +icon#chevron
