//- @pugdoc
  name: Menu-items
  capture: 0

mixin menu-items(items)
  include ../atoms/richtext
  include ../../icons/_icon
  include ../../utils/slugify



      each item in items
        li.collapsibles__item(class='js-collapsible')
          .collapsible
            h3.collapsible__title
                | #{item.title}
                //- +icon#chevron

                +richtext
                  | !{item.body}


//- @pugdoc
  name: Submenu-course
  description: |
    Sectie met uitklappers. Bevat een titel en een lijst van één of meerdere uitklapbare titel/richtext paren. Iedere uitklapper kan vooraf `status: open` worden krijgen door op de button aria-expanded="true" te zetten.
  examples:
    - |
      include ./submenu-course

      - items = [];
      - items.push({title: 'Ontdekken', submenu: '<ul><li>Elektro in het kort</li><li>Studenten aan het woord</li><li>Projecten en nieuws</li><li>De locatie</li></ul>'})
      - items.push({title: 'Jouw toekomst', submenu: '<ul><li>Beroepen en bedrijven</li><li>Professionals over het vak</li><li>Doorstuderen</li></ul>'})
      - items.push({title: 'De studieopbouw', submenu: '<ul><li>Jaar 1<br/>Je propedeuse jaar</li><li>Jaar 2<br/>Je verdiepende jaar</li><li>Jaar 3<br/>Stage en minor</li><li>Jaar 4<br/>Afstuderen</li><li>Doorstuderen</li></ul>'})
      - items.push({title: 'Maak kennis', submenu: '<ul><li>Kom de HAN ontdekken</li><li>Studeren in Arnhem</li><li>Doorstuderen</li></ul>'})
      - items.push({title: 'Praktische info', submenu: '<ul><li>De toelatingseisen</li><li>Aanmeldprocedure</li><li>Studeren met een beperking</li><li>Opleidingskosten</li></ul>'})
      +submenu-collapsibles('Elektrotechniek', items)

mixin submenu-collapsibles(title, items)
  include ../atoms/richtext
  include ../../icons/_icon
  include ../../utils/slugify
  include ./section

  +section(null, null)(class='section--submenu-course')
    ol.collapsibles(class='js-collapsibles')
      li.collapsibles__item(class='js-collapsible')
        .collapsible
          h3.collapsible__title
            button.collapsible__title__button.top.show(type='button', aria-expanded='true', class='js-collapsible__button', aria-controls=slugify(title))
              | #{title}
              +icon#chevron

          .collapsible__content(id=slugify(title), class='js-collapsible__content')
            +richtext
              ul
                each item in items
                  li
                    .submenu__title !{item.title}
                      +icon#arrow
                    | !{item.submenu}
          h3.collapsible__title
            button.collapsible__title__button.bottom(type='button', aria-expanded='true', class='js-collapsible__button', aria-controls=slugify(title))
              | #{title}
              +icon#chevron
