//- @pugdoc
  name: button-primary
  examples:
    - +button-primary('Aanmelden', 'https://www.han.nl', 'titel tekst')

mixin button-primary(text, link, titel)
  a(href=link, title=titel, target='_self')
    button.btn.btn-primary !{text}

//- @pugdoc
  name: button-secondary
  examples:
    - +button-secondary('Aanmelden', 'https://www.han.nl', 'titel tekst')

mixin button-secondary(text, link, titel)
  a(href=link, title=titel, target='_self')
    button.btn.btn-secondary !{text}

//- @pugdoc
  name: button-transparent
  examples:
    - +button-transparent('Aanmelden', 'https://www.han.nl', 'titel tekst')

mixin button-transparent(text, link, titel)
  a(href=link, title=titel, target='_self')
    button.btn.btn-transparent !{text}

