//- @pugdoc
  name: Adres
  arguments:
    - {object} location { city: '', street: '', number: '', zipcode: '', phone: '', btn: { label: '', href: ''} }
  examples:
    - |
      +address({city: 'Nijmegen', image: 'vrouw-techniek.jpg', street: 'Kapittelweg', number: '33', zipcode: '6525 EN', city: 'Nijmegen', phone: '024-353 00 00', btn: { label: 'Bereken je reistijd', href: '#' }})
mixin address(location)
  include ../atoms/btn-secondary

  .address
    .address__body
      h4.address__body__title HAN campus #{location.city}
      a.address__body__text(href="#")
        span #{location.street} #{location.number}<br/>
        span #{location.zipcode} #{location.city}

      p.address__body__phone
        | Telefoon: <a href="tel:#{location.phone}">#{location.phone}</a>

    if location.btn
      .address__footer
        +btn-secondary(location.btn.label, location.btn.href, 'arrow')